
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main.py-4{
  margin: 0px;
  padding: 0px;
}

.create-post{
  background-color: $secondary;
}
tr.create-post:hover{
  background-color: $dark;
}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:gray;
}
tr.clickable-row:hover{
  color: $white;
  background-color: $indigo;
}
td {
   text-align: center;
}

th{
   text-align: center;
}
